.inlineFields {
  display: flex;
  justify-content: flex-start;
}

.quantityField {
  max-width: 200px;
  margin-right: 10px;
}

.inlineField {
  width: 100%;
  margin-right: 10px;
}

.inlineField:last-child {
  margin-right: 0;
}

.shortField {
  max-width: 300px;
}

.trash {
  max-height: 45px;
}

.dollarInput {
  display: flex;
}

.dollarSign {
  line-height: 35px;
  margin-right: 3px;
}
